.watch span {
    display: inline-block;
    width: 2ch;
    font-size: 100px;
    text-align: center;
}

.submit-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.submit-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.submit-button:hover span{
    padding-right: 25px;
}

.submit-button:hover span:after{
    opacity: 1;
    right:0;
}