.leaderboard{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.leader-table{
    width: 100%;
}

.leader{
    padding: 10px;
    font-size: 1.2em;
}
.first-leader{
    background-color: #fdeb85;
    font-weight: bold;
    font-size: 1.5em;
}

.second-leader{
    background-color: #ececec;
    font-weight: bold;
    font-size: 1.3em;
}

.third-leader{
    background-color: #f4973c;
    font-weight: bold;
    font-size: 1.1em;
}