#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.schnoor{
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.submit-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #1e33f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.submit-button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit-button span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-button:hover span{
  padding-right: 25px;
}

.submit-button:hover span:after{
  opacity: 1;
  right:0;
}

input[type=text] {
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.edit-button{
  display: inline-block;
  border-radius: 4px;
  background-color: #ff1a1a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.edit-button:hover{
  display: inline-block;
  border-radius: 4px;
  background-color: #ff4f4f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
